/* Lie, Lorrany, Luiza */
body {
    background: url(/front/images/telas/telaCadastro.jpg) no-repeat center center; 
    background-size: cover;
    height: 890px;
    font-family: 'Capuche', sans-serif;
}

h1 {
    color: #f2b035;
    text-align: center;
    font-size: 70px;
    margin-right: 10%;
}

label {
    color: #790927;
    font-size: 35px;
    margin-left: 30%;
}

input {
    background-color: #F2E0BD;
    width: 32vw;
    height: 4vh;
    margin-left: 30%;
    border-radius: 20px;
    padding: 5px 20px;
    font-size: x-large;
    color: #790927;
    border: solid #f2b035;
}

/* Incorporação da fonte "Capuche" */
@font-face {
    font-family: 'Capuche';
    src: url('/front/fonts/Capuche Trial.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/*Laís, Lie*/
.button {
    color: #f5ead5;
    background: #f2b035;
    border-radius: 15px;
    height: 10vh;
    width: 10vw;
    font-size: 25px;
    font-family: 'Capuche', sans-serif;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    margin-left: 40%;
    text-decoration: none;
    text-align: center;
}

#mensagem {
    color: #790927;
    text-align: center;
    font-size: 1opx;
}

/*Laís, Lie: tentando deixar o button responsivo*/
@media only screen and (max-width: 900px) {
    .button{
      width: 20%;
    }
}

@media only screen and (max-width: 500px) {
    .button{
      width: 30%;
    }
}