/* Lie, Lorrany, Luiza */
body {
    background: url(/front/images/telas/telaCadastro.jpg) no-repeat center center; 
    background-size: cover;
    height: 890px;
}

/* Maria: Incorporação da fonte "Capuche", escolhida para títulos do site */
@font-face {
    font-family: 'Capuche';
    src: url('/front/fonts/Capuche Trial.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Maria: Incorporação da fonte "Starborn", escolhida para títulos do site */
@font-face {
    font-family: 'Starborn';
    src: url('/front/fonts/Starborn.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Maria: Incorporação da fonte "Lemon Milk", escolhida para textos do site */
@font-face {
    font-family: 'LemonMilk';
    src: url('/front/fonts/LEMONMILK-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    color: #f2b035;
    text-align: center;
    font-size: 60px;
    margin-right: 4%;
    font-family: 'Starborn';
}

label {
    color: #d90d43;
    font-size: 35px;
    margin-left: 30%;
    font-family: 'Capuche', sans-serif;
}

input {
    background-color: #F2E0BD;
    width: 32vw;
    height: 4vh;
    margin-left: 30%;
    border-radius: 20px;
    padding: 5px 20px;
    font-size: x-large;
    color: #790927;
    border: solid #f2b035;
    font-family: 'LemonMilk', sans-serif;
}

.p2 {
    color: #d90d43;
    margin-left: 30%;
    font-size: 23px;
    font-family: 'Capuche', sans-serif;
}

a {
    color: #f2b035;
    text-decoration: none;
}

/* Incorporação da fonte "Capuche" */
@font-face {
    font-family: 'Capuche';
    src: url('/front/fonts/Capuche Trial.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/*Laís, Lie*/
.button {
    color: #f5ead5;
    background: #f2b035;
    border-radius: 15px;
    height: 10vh;
    width: 10vw;
    font-size: 25px;
    font-family: 'Capuche', sans-serif;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    margin-left: 41%;
    text-decoration: none;
    text-align: center;
    transition: color 0.3s; /* Adiciona uma transição para a mudança de cor */
    transition: transform 0.3s ease-in-out;
}

.button:hover {
    background-color: #d90d43; /* Altera a cor ao passar o mouse sobre as palavras */
    transform: scale(1.1);
}

#mensagem {
    color: #790927;
    text-align: center;
    font-size: 1opx;
}

/*Laís, Lie: tentando deixar o button responsivo*/
@media only screen and (max-width: 900px) {
    .button{
      width: 20%;
    }
}

@media only screen and (max-width: 500px) {
    .button{
      width: 30%;
    }
}