/*Maria: Feito com o intuito de deixar o site rente as bordas do navegador*/
body {
    margin: 0px;
}

/* Maria: Personalização para a header */
.header {
    background-color: #d90d43;
    color: #f2e0bd;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Capuche', sans-serif;
}

/* Maria: Incorporação da fonte "Capuche", escolhida para títulos do site */
@font-face {
    font-family: 'Capuche';
    src: url('/front/fonts/Capuche Trial.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Maria: Incorporação da fonte "Starborn", escolhida para títulos do site */
@font-face {
    font-family: 'Starborn';
    src: url('/front/fonts/Starborn.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Maria: Incorporação da fonte "Chicago Darling", escolhida para textos do site */
@font-face {
    font-family: 'LemonMilk';
    src: url('/front/fonts/LEMONMILK-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.titulo {
    font-family: 'Capuche', sans-serif;
}

.titulo2 {
    font-family: 'Starborn', sans-serif;
}

.texto {
    font-family: 'LemonMilk', sans-serif;
}

/* Maria: Personalizando a logo do site */
.logo {
    margin-left: 20px;
    margin-right: 200px;
}

/* Maria: Estilos para os links de navegação */
.nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    /* Centraliza as palavras do menu */
}

.nav li {
    margin: 0 20px;
    /* Ajusta o espaçamento entre as palavras */
}

.menu-words {
    color: #f2e0bd;
    /* Altera a cor das palavras do menu */
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s, font-size 0.3s;
    /* Adiciona transição para mudança de cor e tamanho da fonte */
}

.menu-words:hover {
    color: #f2b035;
    /* Altera a cor ao passar o mouse sobre as palavras do menu */
    font-size: 21.5px;
    /* Aumenta o tamanho da fonte ao passar o mouse */
}

.submenu {
    position: relative;
    color: #f2b035;
}

.submenu-options {
    position: absolute;
    display: none;
    flex-direction: column;
    background-color: #f2e0bd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
    text-decoration: none;
    font-size: 19.5px;
    width: 260px;
    list-style: none;
    /* Remove a bolinha da lista */
}

.submenu-options-inner {
    display: none;
    flex-direction: column;
    background-color: #f2e0bd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 2;
    text-decoration: none;
    font-size: 19.5px;
    width: 280px;
    list-style: none;
    /* Remove a bolinha da lista */
}

.display-active {
    display: flex;
}

.submenu-options a,
.submenu-options-inner a {
    color: #f2b035;
    text-decoration: none;
    padding: 10px;
    transition: color 0.3s, font-size 0.3s;
}

/* Maria: Estilos para a barra de pesquisa */
.caixa-de-busca {
    display: flex;
    align-items: center;
    background-color: #f2e0bd;
    color: #f2b035;
    border-radius: 5px;
    padding: 5px;
    width: 35%;
    margin: 0 auto;
}

.lupa {
    margin-right: 5px;
    color: #4B3C2F;
    /* Defina a cor do ícone da lupa */
}

.campo-de-busca {
    border: none;
    outline: none;
    background-color: transparent;
    flex-grow: 1;
}

/*Maria: Altera a cor do placeholder*/
::-webkit-input-placeholder {
    color: #816024;
}

:-moz-placeholder {
    /* Para Firefox 18- */
    color: #816024;
}

::-moz-placeholder {
    /* Para Firefox 19+ */
    color: #816024;
}

:-ms-input-placeholder {
    color: #816024;
}

/* Maria: TENTATIVA do responsivo do Header, igor tenha piedade */
@media (max-width: 768px) {
    .nav {
        display: none;
        /* Oculta o menu principal */
    }

    .caixa-de-busca {
        max-width: 100%;
        /* Preenche a largura da tela */
    }
}

/*  Maria: Personalizando o ícone do usuário */
.user-icon {
    cursor: pointer;
    margin-left: 10px;
    margin-right: 40px;
    transition: transform 0.3s ease-in-out;
}

.user-icon:hover {
    transform: scale(1.1);
}

.user-icon-container {
    position: relative;
}

.icon {
    width: 60px;
    height: 60px;
}

/*  Maria: Personalizando para o menu de usuário */
.user-menu {
    position: absolute;
    background-color: #f2e0bd;
    list-style: none;
    padding: 10px;
    display: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 196, 0, 0.2);
    text-align: center;
    top: 100%;
    right: 0;
    width: 250px;
    z-index: 2;
    margin-right: 20px;
}

.user-menu li {
    margin: 10px 0;
}

.user-menu li a {
    text-decoration: none;
    /* Maria: Remove o sublinhado dos textos do menu */
    color: #f2b035;
    transition: color 0.3s;
    /* Adiciona uma transição para a mudança de cor */
}

.user-menu li a:hover {
    color: #d90d43;
    /* Altera a cor ao passar o mouse sobre as palavras */
}

.user-menu li.separator {
    border-top: 0.9px solid #f2b035;
}

.logo {
    width: 130px;
    height: 95px;
}

/* Maria: Personalização para o footer */
footer {
    background-color: #d90d43;
    color: #f6eed8;
    font-family: 'Capuche', sans-serif;
}

/*Maria: As linhas seguem um padrão de 7 de pixel, com as cores principais do site e uma distância de 4 de pixel uma da outra*/
.line-one {
    height: 7px;
    background-color: #f2e0bd;
    margin-bottom: 4px;
}

.line-two {
    height: 7px;
    background-color: #f2b035;
    margin-bottom: 4px;
}

.line-three {
    height: 7px;
    background-color: #d90d43;
    margin-bottom: 4px;
}

.line-four {
    height: 7px;
    background-color: #700927;
}

.fline-four {
    height: 7px;
    background-color: #700927;
    margin-bottom: 4px;
}

.fline-one {
    height: 7px;
    background-color: #f2e0bd;
}

/*Laís, Lie*/
.button {
    color: #f5ead5;
    background: #f2b035;
    border-radius: 15px;
    height: 10vh;
    width: 10vw;
    font-size: 25px;
    font-family: 'Capuche', sans-serif;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    margin-left: 35%;
    text-decoration: none;
    text-align: center;
}

#mensagem {
    color: #790927;
    text-align: center;
    font-size: 1opx;
}

/*Laís, Lie: tentando deixar o button responsivo*/
@media only screen and (max-width: 900px) {
    .button {
        width: 20%;
    }
}

@media only screen and (max-width: 500px) {
    .button {
        width: 30%;
    }
}

/*Luiza: textarea para formulário*/
textarea {
    background-color: #F2E0BD;
    width: 30vw;
    height: 25vh;
    border-radius: 20px;
    padding: 5px;
    font-size: x-large;
    color: #790927;
    border: solid #f2b035;
}

label {
    color: #790927;
    font-size: 30px;
    font-family: 'Capuche', sans-serif;
}

.input-form, .textarea-form {
    background-color: #F2E0BD;
    width: 30vw;
    height: 6vh;
    border-radius: 20px;
    padding: 5px;
    font-size: medium;
    color: #790927;
    border: solid #f2b035;
    font-family: 'LemonMilk';
}

section {
    margin-left: 5%;
}

/*Luiza: Feito com o intuito de organizar todo o main da página contato*/
.titulo-pergunta {
    color: #d90d43;
    font-size: 25px;
    font-family: 'Starborn', sans-serif;
}

.texto-perguntas {
    font-family: 'LemonMilk', sans-serif;
    font-size: 15px;
}

main {
    background-color: #f6eed8;
    display: flex;
}

.flex-item {
    flex: 1;
    border: 1px solid #ccc;
    padding: 10px;
    justify-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    row-gap: 2rem;
    justify-items: center;
    width: 55vw;
}

.grid-item-perguntas {
    margin: 0 2vw 0 2vw;
    background: #f2e0bd;
    padding: 10px;
    text-align: center;
    align-items: center;
    border-radius: 10%;
    height: 36vh;
    width: 22vw;
    font-size: 20px;
    font-weight: 500;
    color: #700927;
    font-family: 'Moon Light', sans-serif;
}

.title-grid-flex {
    font-size: 35px;
    font-weight: 600;
    color: #f2b035;
    margin-top: 0.7%;
    margin-left: 0.7%;
}

.slider-container {
    display: flex;
    padding: 30px;
}

.slider-buttons-perguntas {
    border: none;
    background-color: #f6eed8;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
}

.grid-controls {
    display: flex;
    align-items: center;
}