/*Maria: Feito com o intuito de deixar o site rente as bordas do navegador*/
body  {
    margin: 0px;
}

/* Maria: Personalização para a header */
.header {
    background-color: #d90d43;
    color: #f2e0bd;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Capuche', sans-serif;
}

/* Maria: Incorporação da fonte "Capuche", escolhida para títulos do site */
@font-face {
    font-family: 'Capuche';
    src: url('/front/fonts/Capuche Trial.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Maria: Personalizando a logo do site */
.logo {
    margin-left: 20px;
    margin-right: 200px;
}

/* Maria: Estilos para os links de navegação */
.nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Centraliza as palavras do menu */
}

.nav li {
    margin: 0 20px; /* Ajusta o espaçamento entre as palavras */
}

.nav a {
    color: #f2e0bd; /* Altera a cor das palavras do menu */
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s; /* Adiciona uma transição para a mudança de cor */
}

.nav a:hover {
    color: #f2b035; /* Altera a cor ao passar o mouse sobre as palavras do menu */
}

/* Maria: Estilos para a barra de pesquisa */
.caixa-de-busca {
    display: flex;
    align-items: center;
    background-color: #f2e0bd;
    color: #f2b035;
    border-radius: 5px;
    padding: 5px;
    width: 35%;
    margin: 0 auto;
}

.lupa {
    margin-right: 5px;
    color: #4B3C2F; /* Defina a cor do ícone da lupa */
}

.campo-de-busca {
    border: none;
    outline: none;
    background-color: transparent;
    flex-grow: 1;
}

/*  Maria: Personalizando o ícone do usuário */
.user-icon {
    cursor: pointer;
    margin-left: 10px;
    margin-right: 40px;
}

.user-icon-container {
    position: relative;
}

.icon {
    width: 60px;
    height: 60px;
}

/*  Maria: Personalizando para o menu de usuário */
.user-menu {
    position: absolute;
    background-color: #f2e0bd;
    color: #f2b035;
    list-style: none;
    padding: 10px;
    display: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 196, 0, 0.2);
    z-index: 1;
    text-align: center;
    top: 100%;
    right: 0;
}

.user-menu li {
    margin: 10px 0;
    text-decoration: none; /* Remove o sublinhado dos textos do menu */
}

.user-menu li.separator {
    border-top: 0.9px solid #f2b035;
}

.logo {
    width: 130px;
    height: 95px;
}

main {
    background-color: #f6eed8;
}

footer {
    background-color: #d90d43;
}

/*Maria: As linhas seguem um padrão de 7 de pixel, com as cores principais do site e uma distância de 4 de pixel uma da outra*/
.line-one {
    height: 7px;
    background-color: #f2e0bd;
    margin-bottom: 4px;
}

.line-two {
    height: 7px;
    background-color: #f2b035;
    margin-bottom: 4px;
}

.line-three {
    height: 7px;
    background-color: #d90d43;
    margin-bottom: 4px;
}

.line-four {
    height: 7px;
    background-color: #700927;
}

/*Laís/Lie: ajusto os botões no tamanho que eu quero */
.carousel-control-prev, .carousel-control-next{
    width: 100px;
    height: 450px;
    position: relative;
    background: none !important;
 }
 
 /*Laís/Lie: crio as setas e centralizo */
 .carousel-control-prev::after, .carousel-control-next::after {
    content: "";
    width: 18px;
    height: 18px;
    position: absolute;
    transform: rotate(135deg);
    border: solid #f2b035;
    border-width: 0 6px 6px 0;
    top: 50%; 
    left: 50%;
    margin-top: -9px;
    margin-left: -4px;
 }
 
 /*Laís/Lie: ajusto a seta next */
 .carousel-control-next::after {
    transform: rotate(-45deg);
    margin-left: -14px;
 }

/*Laís: Esta classe serve para deixar os bottuns que indicam o carrossel em forma de rádio*/
.carousel-indicators button {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
    border: solid #f2b035;
    background: #f2b035; /* Adiciona a cor de fundo */
}

.container-dicas {
    display: flex;
}

.flex-item {
    flex: 1;
    border: 1px solid #ccc;
    padding: 10px;
    justify-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1vw;
    justify-items: center;
    width: 45vw;
}

.grid-item-dicas {
    margin: 0 4vw 0 4vw;
    background: #f2e0bd;
    padding: 20px;
    text-align: center;
    align-items: center;
    border-radius: 10%;
    height: 20vh;
    width: 10vw;
    font-size: 22px;
    font-weight: 500;
    color: #f2b035;
}

.title-grid {
    font-size: 25px;
    font-weight: 600;
    color: #700927;
    margin-top: 0.7%;
    margin-left: 0.7%;
}

.grid-item-indicacao {
    margin: 0 4vw 0 4vw;
    background: #f2e0bd;
    padding: 20px;
    text-align: center;
    align-items: center;
    border-radius: 10%;
    height: 6vh;
    width: 10vw;
    font-size: 22px;
    font-weight: 500;
    color: #f2b035;
}

.slider-container {
    display: flex;
    justify-content: center;
}

.slider-buttons {
    margin: 0 5px;
    border: none;
    background-color: #f7f3eb;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
}

.grid-controls {
    display: flex;
    align-items: center;
}

.principal {

}

.left {

}

.right {

}
