/*Maria: Feito com o intuito de deixar o site rente as bordas do navegador*/
body  {
    margin: 0px;
}

/* Maria: Personalização para a header */
.header {
    background-color: #d90d43;
    color: #f2e0bd;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Capuche', sans-serif;
}

/* Maria: Incorporação da fonte "Capuche", escolhida para títulos do site */
@font-face {
    font-family: 'Capuche';
    src: url('/front/fonts/Capuche Trial.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Maria: Incorporação da fonte "Moon", escolhida para textos do site */
@font-face {
    font-family: 'Moon';
    src: url('/front/fonts/Moon\ Light.otf') format('opentype');
    font-weight: bold;
    font-style: bold;
}

.titulo {
    font-family: 'Capuche', sans-serif;
}

.texto {
    font-family: 'Moon', sans-serif;
}

/* Maria: Personalizando a logo do site */
.logo {
    margin-left: 20px;
    margin-right: 200px;
    width: 130px;
    height: 95px;
}

/* Maria: Estilos para os links de navegação */
.nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Centraliza as palavras do menu */
}

.nav li {
    margin: 0 20px; /* Ajusta o espaçamento entre as palavras */
}

.nav li a {
    color: #f2e0bd; /* Altera a cor das palavras do menu */
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s; /* Adiciona uma transição para a mudança de cor */
}

.nav a:hover {
    color: #f2b035; /* Altera a cor ao passar o mouse sobre as palavras do menu */
}

/* Maria: Estilos para a barra de pesquisa */
.caixa-de-busca {
    display: flex;
    align-items: center;
    background-color: #f2e0bd;
    color: #f2b035;
    border-radius: 5px;
    padding: 5px;
    width: 35%;
    margin: 0 auto;
}

.lupa {
    margin-right: 5px;
    color: #4B3C2F; /* Defina a cor do ícone da lupa */
}

.campo-de-busca {
    border: none;
    outline: none;
    background-color: transparent;
    flex-grow: 1;
}

/*Maria: Altera a cor do placeholder*/
::-webkit-input-placeholder {
    color: #816024;
 }
 
 :-moz-placeholder { /* Para Firefox 18- */
    color: #816024;  
 }
 
 ::-moz-placeholder {  /* Para Firefox 19+ */
    color: #816024;  
 }
 
 :-ms-input-placeholder {  
    color: #816024;  
 }

/* Maria: TENTATIVA do responsivo do Header, igor tenha piedade */
@media (max-width: 768px) {
    .nav {
        display: none; /* Oculta o menu principal */
    }

    .caixa-de-busca {
        max-width: 100%; /* Preenche a largura da tela */
    }
}

/*  Maria: Personalizando o ícone do usuário */
.user-icon {
    cursor: pointer;
    margin-left: 10px;
    margin-right: 40px;
}

.user-icon-container {
    position: relative;
}

.icon {
    width: 60px;
    height: 60px;
}

/*  Maria: Personalizando para o menu de usuário */
.user-menu {
    position: absolute;
    background-color: #f2e0bd;
    list-style: none;
    padding: 10px;
    display: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 196, 0, 0.2);
    text-align: center;
    top: 100%;
    right: 0;
    width: 250px;
    z-index: 2;
    margin-right: 20px;
}

.user-menu li {
    margin: 10px 0;
}

.user-menu li a {
    text-decoration: none; /* Maria: Remove o sublinhado dos textos do menu */
    color: #f2b035;
    transition: color 0.3s; /* Adiciona uma transição para a mudança de cor */
}

.user-menu li a:hover {
    color: #d90d43; /* Altera a cor ao passar o mouse sobre as palavras */
}

.user-menu li.separator {
    border-top: 0.9px solid #f2b035;
}

/* Maria: Personalização para o main */
main {
    background-color: #f6eed8;
}

/* Maria: Personalização para o footer */
footer {
    background-color: #d90d43;
    color: #f6eed8;
    font-family: 'Capuche', sans-serif;
}

/*Maria: As linhas seguem um padrão de 7 de pixel, com as cores principais do site e uma distância de 4 de pixel uma da outra*/
.line-one {
    height: 7px;
    background-color: #f2e0bd;
    margin-bottom: 4px;
}

.line-two {
    height: 7px;
    background-color: #f2b035;
    margin-bottom: 4px;
}

.line-three {
    height: 7px;
    background-color: #d90d43;
    margin-bottom: 4px;
}

.line-four {
    height: 7px;
    background-color: #700927;
}

.fline-four {
    height: 7px;
    background-color: #700927;
    margin-bottom: 4px;
}

.fline-one {
    height: 7px;
    background-color: #f2e0bd;
}